<%
model  ||= @dashboard.model
fields ||= @dashboard.filterable_fields
f      ||= nil

parent_klass ||= nil
%>
<% if f %>

  <% fields.each do |k,field| %>
    <% if(field.type == :association) %>
      <div class="row">
        <div class="col s12">
          <%= f.association(k, include_blank: true, label: field.label, required:false) %>
        </div>
      </div>
    <% elsif(field.type == :polymorphic) %>
      <%= f.input(k, as:'polymorphic', label:field.label, required:false) unless inverse_relationship_exists?(model, k, parent_klass) %>
    <% else
    opts = field.collection
    opts ||=  if(field.type == :boolean)
                [['Yes', true],['No',false]]
              else
                model.distinct.pluck(k).uniq
              end
    %>
      <div class="row">
        <div class="col s12">
          <%= f.input(k, as: :select, collection:opts, label:field.label, required:false, 'browser-default' => true) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
